body {
    font-family: "Poppins", sans-serif;
    background-color: #f8f3ff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    border: 2px solid #663399;
}

h1, h2 {
    color: #663399;
}

.input-group {
    margin: 10px 0;
    text-align: left;
}

label {
    font-weight: bold;
    color: #663399;
}

input {
    width: 100%;
    padding: 8px;
    border: 2px solid #f4c542;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #663399;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #4a266a;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: #663399;
    font-size: 18px;
}
